.fundomenu{
    background: linear-gradient(45deg,black,rgb(45, 45, 255));
}
ul,li,a{
    color: black
}
figure{
	text-align: center;
}

.espacamentotexto{
   padding-top: 1%;
   padding-bottom: 1%; 
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
   
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
   
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
   
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  .card{
      margin: auto;
      width: 33%;
      background-color: var(--cinzaClaro);
      border: none;
  }

  .card .face{
      width: 100%;
      height: 300px;
  }

  .card .face.face1{
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
      transform: translateY(100px);
  }

  .card .face.face1 .content{
      opacity: 0.2;
  }

  .card .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    transform: translateY(-200px);
  }

  .card .face.face2 .content p{
    margin: 0;
    padding: 0;
  }
